<div class="container" style="padding-top:40px;">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card mx-4">
        <div class="card-body p-4">
  <h2>Add Treatment Record</h2>
  <form [formGroup]="addForm" (ngSubmit)="OnSubmit()" >
<div>
  <div class="form-group">
  <label>
      PatientName:</label>
      <input type="text" class="form-control" formControlName="patientName" id="patientname" placeholder="Patient Name" />

</div>
  <label>
      PAge:</label>
      <input type="number" class="form-control" formControlName="pAge" id="page" placeholder="Patient Age" />

  <br />
  <label for="gender">Gender:</label>
  <select id="gender" class="form-control" formControlName="pGender">
      <option value="select">Select</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
  </select>
  <br />
  <label>
      Email:</label>
      <input type="text" class="form-control" formControlName="pEmail" id="pemail" placeholder="Patient Email" />
  <br />
  <label>
      AadharID:</label>
      <input type="text" class="form-control" formControlName="aadharID" id="aadharid" placeholder="AadharId" />
  <br />
  <label>
      PatientContact:</label>
      <input type="number" class="form-control" formControlName="pContact" id="patientcontact" placeholder="Phone No" />
  <br />

  <label for="addresstype">AddressType</label>
  <select id="addresstype" class="form-control" formControlName="addressType">
      <option value="PatientAddress">Patient Address</option>
      <option value="OrganisationAddress">Organisation Address</option>
      <option value="HospitalAddress">Hospital Address</option>
  </select>
  <br />
  <label>
      Street No:</label>
      <input type="number" class="form-control" formControlName="streetNo" id="street" placeholder="Street No" />
  <br />
  <label>
      Area:</label>
      <input type="text" class="form-control" formControlName="area" id="area" placeholder="Area" />
  <br />
  <label>
      City:</label>
      <input type="text" class="form-control" formControlName="city" id="city" placeholder="City" />
  <br />
  <label>
      State:</label>
      <input type="text" class="form-control" formControlName="state" id="state" placeholder="State" />
  <br />
  <label>
      Country:</label>
      <input type="text" class="form-control" formControlName="country" id="country" placeholder="Country" />
  <br />
  <label>
      ZipCode:</label>
      <input type="number" class="form-control" formControlName="zipCode" id="zipcode" placeholder="ZipCode" />
  <br />
  <label>
      Occupation Name:</label>
      <input type="text" class="form-control" formControlName="occupationName" id="occupationname" placeholder="Occupation" />
  <br />
  <label>
      Occupation Type:</label>
      <input type="text" class="form-control" formControlName="occupationType" id="occupationtype" placeholder="Occupation Type" />
  <br />
  <label>
      Organisation Name:</label>
      <input type="text" class="form-control" formControlName="organisationName" id="organisationname" placeholder="Organisation Name" />
  <br />
  <label>
      Organisation Contact:</label>
      <input type="text" class="form-control" formControlName="organisationContact" id="organisationcontact" placeholder="Organisation Contact" />
  <br />
  <label for="addresstype">AddressType</label>
  <select id="addresstype1" class="form-control" formControlName="org_AddressType">
      <option value="OrganisationAddress">Organisation Address</option>
      <option value="PatientAddress">Patient Address</option>
      <option value="HospitalAddress">Hospital Address</option>
  </select>
  <br />
  <label>
      Street No:</label>
      <input type="number" class="form-control" formControlName="org_StreetNo" id="street1" placeholder="Street No" />
  <br />
  <label>
      Area:</label>
      <input type="text" class="form-control" formControlName="org_Area" id="area1" placeholder="Area" />
  <br />
  <label>
      City:</label>
      <input type="text" class="form-control" formControlName="org_City" id="city1" placeholder="City" />
  <br />
  <label>
      State:</label>
      <input type="text" class="form-control" formControlName="org_State" id="state1" placeholder="State" />
  <br />
  <label>
      Country:</label>
      <input type="text" class="form-control" formControlName="org_Country" id="country1" placeholder="Country" />
  <br />
  <label>
      ZipCode:</label>
      <input type="number" class="form-control" formControlName="org_ZipCode" id="zipcode1" placeholder="ZipCode" />
  <br />
  <label>
      Hospital Name:</label>
      <input type="text" class="form-control" formControlName="hospitalName" id="hospitalname" placeholder="Hospital Name" />
  <br />
  <label>
      Hospital Contact:</label>
      <input type="text" class="form-control" formControlName="contact" id="contact" placeholder="Phone No" />
  <br />
  <label for="addresstype">AddressType</label>
  <select id="addresstype2" class="form-control" formControlName="hos_AddressType">
      <option value="HospitalAddress">Hospital Address</option>
      <option value="PatientAddress">Patient Address</option>
      <option value="OrganisationAddress">Organisation Address</option>
  </select>
  <br />
  <label>
      Street No:</label>
      <input type="number" class="form-control" formControlName="hos_StreetNo" id="street2" placeholder="Street No" />
  <br />
  <label>
      Area:</label>
      <input type="text" class="form-control" formControlName="hos_Area" id="area2" placeholder="Area" />
  <br />
  <label>
      City:</label>
      <input type="text" class="form-control" formControlName="hos_City" id="city2" placeholder="City" />
  <br />
  <label>
      State:</label>
      <input type="text" class="form-control" formControlName="hos_State" id="state2" placeholder="State" />
  <br />
  <label>
      Country:</label>
      <input type="text" class="form-control" formControlName="hos_Country" id="country2" placeholder="Country" />
  <br />
  <label>
      ZipCode:</label>
      <input type="number" class="form-control" formControlName="hos_ZipCode" id="zipcode2" placeholder="ZipCode" />
  <br />
  <label>
      Disease Name:</label>
      <input type="text" class="form-control" formControlName="diseaseName" id="diseasename" placeholder="Disease Name" />
  <br />
  <label>
      Disease Type:</label>
      <input type="text" class="form-control" formControlName="diseaseType" id="diseasetype" placeholder="Disease Type" />
  <br />
  <label>
      Admitted Date:</label>
      <input type="date" class="form-control" formControlName="admittedDate" id="admitdate" placeholder="Admitted Date" />
  <br />
  <label>
      Prescription:</label>
      <input type="text" class="form-control" formControlName="prescription" id="prescription" placeholder="Prescription" />
  <br />
  <label>
      Relieving Date:</label>
      <input type="date" class="form-control" formControlName="relievingDate" id="relievingdate" placeholder="Relieving Date" />
  <br />
  <label for="isfatal">IsFatal</label>
  <select id="isfatal" class="form-control" formControlName="isFatal">
      <option value="select">Select</option>
      <option value="yes">Yes</option>
      <option value="no">No</option>
  </select>
  <br />
  <label>
      Currentstage:</label>
      <input type="number" class="form-control" formControlName="currentstage" id="currentstage" placeholder="Currentstage" />
  <br />
  <button type="submit" class="btn btn-primary" ><span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Submit</button>
  <br />
</div>
</form>
</div>
</div>
</div>
</div>
</div>
